{% extends 'layout.html' %}


{% block content %}

<p>
BangPypers, the Bangalore Python Usergroup is one of the largest and oldest Python user groups in India.
</p>

<p>
The group maintains a <a href="http://mail.python.org/mailman/listinfo/bangpypers">mailing list</a> to discuss about various python-related topics.

The group organizes monthly meetups regularly. Meetups usually happen on third saturday of every month. Look at our <a href="http://www.meetup.com/BangPypers/">Meetup.com page</a> for upcoming meetups.
</p>
<p>
<a href="http://mail.python.org/mailman/listinfo/bangpypers">Join our mailing list</a> | <a href="http://www.meetup.com/BangPypers/">Visit our meetup page</a>
</p>
{% endblock %}
